@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 70px;
}

header {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  background: lightgray;
  padding: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

header a img {
  width: 100px;
  border-radius: 8px;
  height: 100px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
